<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
<h1>
  welcome to
  <strong>Bookers</strong>
   !!
</h1>
<p>
  In
  <strong>Bookers</strong>
  ,
</p>
<p>
  you can share and exchange your opinions , inpressions , and emotions
</p>
<p>
  about various books!
</p>
<div>
  <li>
    <%= link_to "Log in", new_user_session_path %>
  </li>
  <li>
    <%= link_to "Sign up", new_user_registration_path %>
  </li>
</div>
<div>
  <p>CopyRight Infratop.inc</p>
</div>
